p
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon
{
    width: 40px;
}

.cat
{
    border: 1px solid #b8b7b7;
    display: inline-block;
    margin: 20px;
}

.description
{
    margin: 6%;
}

.original
{
    text-decoration: none;
    color: #000;
    font: bold 20px sans-serif;
}

.cat:hover
{
    border: 1px outset #6e6e6e;
    box-shadow: 3px 3px 7px gray;
}

.image:hover
{
    height: 98%;
    width: 98%;
    border-width: 3px;
    margin-bottom: -3px;
    border-style: solid;
    border-color: #ffc400 #ff5e00;
}

.original:hover
{
    text-shadow: 3px 3px 7px #ffab2e;
}

.icon_lines:checked ~ label img
{
    transform: rotate(90deg);
}

.icon_lines:checked ~ main .cat
{
    width: 600px;
    display: block;
}

.icon_lines:checked ~ main .image
{
    height: 408px;
    width: 528px;
    margin: 36px 36px 6px;
}

.icon_lines:checked ~ main .image:hover
{
    height: 402px;
    width: 522px;
}

.icon_lines:checked ~ main .in_detail
{
    display: block;
}

.in_detail,
.icon_lines,
.icon_lines:checked ~ main .short
{
    display: none;
}
